<!DOCTYPE html>
<html>
  <head>
    <title>Mad Lib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Mad Lib</h1>
    <p>One day @Model.animal went to the store to get @Model.Noun1 for @Model.animal1 and @Model.animal2 's wedding.  The store was out of @Model.Noun1 so @Model.Celebrity1 got really tired and @Model.Verb1 ed at everyone who would listen. @Model.Celebrity1 reluctantly bought @Model.Noun2 instead.</p>
</body>
</html>